@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>
    <b>Name:</b> Guyala, Kyla Joyce.<br />
    <b>Stud ID No.:</b> 1811-18<br />
    <b>Age:</b> 20 years old<br />
    <b>Address:</b>Blk 2 Lot 4 Arayat St Country Homes Putatan Muntinlupa City<br />
    <b>Birthdate:</b> January 2, 2000<br />
    <b>Course:</b> BS in Information Technology
</p>